<div class="container" *ngIf="user"> 
    <h2>Facturas</h2>

    <table border="1" *ngIf="allFacturas && hayRegistros(); else sinfacturas" id="tabla">
        <tr>
            <th>Numero Factura</th>
            <th>Cliente</th>
            <th>TOTAL</th>
        </tr>
        <tr *ngFor="let factura of allFacturas" >
            <td *ngIf="factura.facturaStatus=='activa'">{{factura.facturaNumero}}</td>
            <td *ngIf="factura.facturaStatus=='activa'">{{factura.facturaClienteNombre}}</td>
            <td *ngIf="factura.facturaStatus=='activa'">{{factura.facturaPrecioTotal}}</td>

            <td  *ngIf="factura.facturaStatus=='activa'"><button class="btn-update" *ngIf="factura.facturaStatus=='activa'"  routerLink="/facturas/factura-actualizar/{{factura.facturaNumero}}">Actualizar <i class="material-icons">
                    open_in_new
                    </i></button></td>

            <td *ngIf="factura.facturaStatus=='activa'"><button class="btn-delete" *ngIf="factura.facturaStatus=='activa'" (click)="this.deleteFactura(factura)">Eliminar <i class="material-icons">
                    delete_forever
                    </i></button></td>
            
            <td *ngIf="factura.facturaStatus=='activa'" >
                    <app-boton-impresion-factura *ngIf="factura.facturaStatus=='activa'" facturaNumero="{{factura.facturaNumero}}" ></app-boton-impresion-factura></td>
            
            
        </tr>
    </table>
    <ng-template #sinfacturas><p>Sin Facturas</p></ng-template>
 
</div>
